body {
    background-color: #f9f9eb;
    font-family: "verdana", "arial";
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: #1f5a61;
}

form {
    text-align: center;
    margin-top: 20vh;
}

input[type=text],
input[type=password],
input[type=number],
input[type=time] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 10px;
    border: none;
    border-bottom: 2px solid #256c74;
    font-family: "verdana", "arial";
    font-size: 16px;
    background-color: #f9f9eb;
}

textarea {
    width: 68%;
    height: 15vh;
    padding: 12px 20px;
    margin-top: 2vh;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

#btnLogIn,
#btnSignIn,
#btnMaakAccountAan,
#btnGaNaarHome,
#btnProfielAanpassen,
#btnReserveer,
#btnBestel,
#btnAlGereserveerd,
#btnValideerReservatie,
#btnAlBesteld,
#btnConfirmMailAdresWwVergeten,
#btnReservatiesBehandelen,
#btnBestellingenBehandelen,
#btnWerknemersBekijken,
#brnValideerReservatieKlant {
    background-color: #256c74;
    border: none;
    color: white;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    margin-top: 2vh;
    cursor: pointer;
    width: 15.7%;
}

#btnLinkWwVergeten {
    background-color: #f9f9eb;
    border: none;
    color: #256c74;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10vh;
}

#btnLogIn {
    margin-left: -10.5vw;
}

#btnSignIn {
    margin-left: 6.5vw;
}

#btnMaakAccountAan,
#btnGaNaarHome,
#btnProfielAanpassen,
#btnReserveer,
#btnAlGereserveerd,
#btnBestel,
#btnAlBesteld,
#btnValideerReservatie,
#btnConfirmMailAdresWwVergeten,
#btnWerknemersBekijken,
#btnReservatiesBehandelen,
#btnBestellingenBehandelen,
#brnValideerReservatieKlant {
    margin-left: -8vw;
}

#btnProfielAanpassen {
    margin-top: 10vh;
}

#btnReserveer {
    margin-top: 15vh;
}

#btnAlGereserveerd {
    margin-top: 20vh;
}

#btnBestel {
    margin-top: 25vh;
}

#btnAlBesteld {
    margin-top: 33vh;
}

#btnReservatiesBehandelen {
    margin-top: 41vh;
}

#btnBestellingenBehandelen {
    margin-top: 48vh;
}

#btnWerknemersBekijken {
    margin-top: 56vh;
}

a {
    text-decoration: none;
    color: #256c74;
}

#maakloginVoornaam,
#maakLoginNaam,
#maakTelefoon,
#maakMobiel {
    width: 15%;
}

#maakAdres {
    width: 25%;
}

#maakHuisnummer {
    width: 5%;
}

#maakBus,
#maakPostcode {
    width: 5%;
}

#maakGemeente {
    width: 16.5%;
}

#maakMail,
#maakLoginWachtwoord {
    width: 33.5%;
}

#fotosEten {
    width: 50%;
    margin-left: calc(28vw - 50px);
}

.grid-container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 50px;
    grid-column-gap: 10px;
    padding: 10px;
}

.modal {
    display: none;
    position: fixed;
    padding-top: 15vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    margin: auto;
    display: block;
    width: 40vw;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}